<h1>Добре дошли в зала 100!</h1>

<pre>
Какво предлагаме?
	безплатно ползване на компютри в залата
	достъп до библиотеката на клуба
	принтирате безплатно Х листа за един семестър
	среща с готини хора
	помощ за проект
	място, където да поиграете бридж, шах или табла
	възможност да разучите някой от клубовете ни и да се включите в него

Как да ни намерите? 
	вратата с железния парапет на първия етаж на стълбите с банкомата 
	OR попитай случаен човек във ФМИ къде е зала 100

Работно време:
Понеделник - Петък: 9:00 до 21:00
Събота и Неделя: 10:00 до 17:00

Кой управлява залата?
	Благовест Тренчев 

Кой е на смяна?
     Благо <a href = "feedback.php">Връзка с админ</a>
 
 </pre>