{include file="header.html"} 
{if isset($error)}
	<h2 style="color:red">{$error}</h2>
{/if}
<form action="" method="post">
	<label for="fname"> Име : </label><br />
	<input id="fname" name="fname" type="text" required/><br />
	
	<label for="lname"> Фамилия : </label><br />
	<input id="lname" name="lname" type="text" required/><br/>
	<label for="passwd"> Парола : </label><br />
	<input id="passwd" name="passwd" type="password" required/><br/>
	<label for="fn"> Факултетен Номер : </label><br />
	<input id="fn" name="fn" type="text" required/><br/>
	<label for="email"> E-mail : </label><br />
	<input id="email" name="email" type="email" required/><br/>
	<input type="submit" name="submit" value="Регистрирай се"/>
	
</form>
</div>
{include file="footer.html"} 